SUPABASE_URL=https://jbffeudnxyomsjwiqxek.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpiZmZldWRueHlvbXNqd2lxeGVrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk2Mzk0MzUsImV4cCI6MjA5NTIxNTQzNX0.wb980LGKJ6u1ouSXyouWDhzpKqJIb6NV-S7sZg7ss4Y